/* the props */
@import "open-props/style";

/* optional imports that use the props */
@import "open-props/normalize";

@import "open-props/colors-hsl";

:root {
  /* size */
  --size-4: 0.25rem;
  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-32: 2rem;
  --size-36: 2.25rem;
  --size-40: 2.5rem;
  --size-44: 2.75rem;
  --size-48: 3rem;
  --size-64: 4rem;
  --size-80: 5rem;
  --size-96: 6rem;
  --size-112: 7rem;
  --size-128: 8rem;
  --size-220: 13.75rem;
  --size-256: 16rem;
  --size-280: 17.5rem;
  --size-368: 23rem;

  /* container */
  --container-xxs-240: 15rem;
  --container-xs-360: 22.5rem;
  --container-sm-480: 30rem;
  --container-md-768: 48rem;
  --container-lg-1024: 64rem;
  --container-xl-1440: 90rem;
  --container-xxl-1920: 120rem;

  /* border radius */
  --border-radius-default: var(--size-4);
  --border-radius-large: var(--size-20);

  /* border */
  --border-width-default: 2px;

  /* controls */
  --control-borderRadius: var(--border-radius-default);
  --control-paddingInline-normal: var(--size-16);
  --control-paddingInline-condensed: var(--size-12);
  --control-gap-normal: var(--size-8);
  --control-gap-spacious: var(--size-16);
  --control-medium-fontSize: var(--size-16);
  --control-medium-height: var(--size-44);
  --control-small-fontSize: var(--size-14);
  --control-small-height: var(--size-32);
  --control-fontWeight: var(--font-weight-6);

  /* layout */
  --gap-condensed: var(--size-4);
  --gap-normal: var(--size-8);
  --gap-spacious: var(--size-16);
  --padding-condensed: var(--size-4);
  --padding-normal: var(--size-8);
  --padding-spacious: var(--size-16);
  --card-border-padding: var(--size-4);

  /* theme */
  --bgColor-page: var(--gray-0);
  --bgColor-cardItem-rest: #ffffff;
  --bgColor-cardItem-hover: var(--red-2);
  --bgColor-cardItem-pressed: var(--gray-1);
  --bgColor-freeSpace-icon: var(--purple-7);
  --borderColor-card: var(--gray-9);
  --outlineColor: var(--indigo-9);
  --textColor-page: var(--gray-10);
  --textColor-card: var(--gray-0);
  --textColor-cardItem-rest: var(--gray-10);
  --textColor-freeSpace: var(--gray-9);
  --control-bgColor-rest: #ffffff;
  --control-bgColor-hover: var(--gray-0);
  --control-bgColor-pressed: var(--gray-3);
  --control-borderColor-rest: var(--gray-9);
  --control-textColor-rest: var(--gray-9);

  /* chip colors */
  --bgColor-chip-1: hsl(var(--purple-5-hsl) / 70%);
  --bgColor-chip-2: hsl(var(--indigo-6-hsl) / 70%);
  --bgColor-chip-3: hsl(var(--lime-6-hsl) / 70%);
  --bgColor-chip-4: hsl(var(--yellow-4-hsl) / 70%);
  --bgColor-chip-5: hsl(var(--orange-6-hsl) / 70%);
  --bgColor-chip-6: hsl(var(--pink-5-hsl) / 70%);
  --bgColor-chip-7: hsl(var(--red-7-hsl) / 70%);
  --bgColor-chip: var(--bgColor-chip-1);
}

html,
body {
  font-family: var(--font-sans);
  color: var(--textColor-page);
  background: var(--bgColor-page);
  padding: var(--padding-normal);
}

h1 {
  color: var(--textColor-card);
  font-size: var(--font-size-fluid-2);
  max-inline-size: unset;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.Button,
.Select {
  height: var(--control-medium-height);
  padding-inline: var(--control-paddingInline-normal);
  padding-block: 0;
  border-radius: var(--control-borderRadius);
  border: var(--border-width-default) solid var(--control-borderColor-rest);
  background: var(--control-bgColor-rest);
  color: var(--control-textColor-rest);
  box-shadow: inset 0px -1px 0px var(--control-borderColor-rest);
  font-weight: var(--control-fontWeight);
}

.Button:hover,
.Select:hover {
  background: var(--control-bgColor-hover);
}

.Button:active,
.Select:active {
  background: var(--control-bgColor-active);
  box-shadow: unset;
}

.Button--trailingVisual {
  display: flex;
  gap: var(--control-gap-normal);
  align-items: center;
  white-space: nowrap;
}

.Button--trailingVisual span:last-child {
  display: none;
}

.Select {
  appearance: none;
  grid-column: 1/-1;
  grid-row: 1;
  padding-inline-end: calc(
    var(--control-paddingInline-normal) + var(--size-14)
  );
}

.SelectWrap {
  display: grid;
  grid-template-columns: minmax(0, auto) var(--size-16);
}

.SelectWrap::after {
  width: var(--size-16);
  height: var(--size-16);
  margin-inline-end: var(--size-14);
  pointer-events: none;
  content: "";
  background-color: var(--control-textColor-rest);
  -webkit-mask: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iIzU4NjA2OSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC40MjcgOS40MjdsMy4zOTYgMy4zOTZhLjI1MS4yNTEgMCAwMC4zNTQgMGwzLjM5Ni0zLjM5NkEuMjUuMjUgMCAwMDExLjM5NiA5SDQuNjA0YS4yNS4yNSAwIDAwLS4xNzcuNDI3ek00LjQyMyA2LjQ3TDcuODIgMy4wNzJhLjI1LjI1IDAgMDEuMzU0IDBMMTEuNTcgNi40N2EuMjUuMjUgMCAwMS0uMTc3LjQyN0g0LjZhLjI1LjI1IDAgMDEtLjE3Ny0uNDI3eiIgLz48L3N2Zz4=");
  mask: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iIzU4NjA2OSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC40MjcgOS40MjdsMy4zOTYgMy4zOTZhLjI1MS4yNTEgMCAwMC4zNTQgMGwzLjM5Ni0zLjM5NkEuMjUuMjUgMCAwMDExLjM5NiA5SDQuNjA0YS4yNS4yNSAwIDAwLS4xNzcuNDI3ek00LjQyMyA2LjQ3TDcuODIgMy4wNzJhLjI1LjI1IDAgMDEuMzU0IDBMMTEuNTcgNi40N2EuMjUuMjUgMCAwMS0uMTc3LjQyN0g0LjZhLjI1LjI1IDAgMDEtLjE3Ny0uNDI3eiIgLz48L3N2Zz4=");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  grid-column: 2;
  grid-row: 1;
  place-self: center end;
}

.Button--iconOnly {
  width: var(--control-medium-height);
  padding-inline: unset;
  display: grid;
  place-items: center;
  font-size: var(--size-20);
}

.ControlWrap {
  display: grid;
  grid-auto-flow: column;
  gap: var(--control-gap-normal);
  place-self: end;
  margin-block-end: calc(var(--gap-spacious) * 2);
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

body {
  display: grid;
  max-width: var(--container-md-768);
  margin-inline: auto;
}

main {
  display: grid;
  gap: var(--gap-spacious);
  grid-auto-rows: min-content;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

@media (width >= 480px) {
  .Button--trailingVisual span:last-child {
    display: block;
  }
}

@media (width >= 768px) {
  :root {
    --card-border-padding: var(--size-16);
  }
}

@media (width >= 1440px) {
  body {
    max-width: var(--container-lg-1024);
  }
}

html.dark {
  /* theme */
  --bgColor-page: var(--gray-9);
  --bgColor-cardItem-rest: var(--gray-8);
  --bgColor-cardItem-hover: var(--red-2);
  --bgColor-cardItem-pressed: var(--gray-9);
  --borderColor-card: var(--gray-7);
  --outlineColor: var(--indigo-4);
  --textColor-page: var(--gray-1);
  --textColor-cardItem-rest: var(--gray-0);
  --textColor-card: var(--gray-1);
  --textColor-freeSpace: var(--gray-0);
  --bgColor-freeSpace-icon: var(--purple-9);
  --control-bgColor-rest: var(--gray-9);
  --control-bgColor-hover: var(--gray-8);
  --control-bgColor-pressed: var(--gray-3);
  --control-borderColor-rest: var(--gray-1);
  --control-textColor-rest: var(--gray-0);
  --bgColor-chip-3: hsl(var(--lime-9-hsl) / 70%);
  --bgColor-chip-4: hsl(var(--teal-8-hsl) / 70%);
  --bgColor-chip-5: hsl(var(--orange-7-hsl) / 70%);
}

@media (prefers-color-scheme: dark) {
  --bgColor-cardItem-rest: var(--gray-8);
  --bgColor-cardItem-hover: var(--red-2);
  --bgColor-cardItem-pressed: var(--gray-9);
  --borderColor-card: var(--gray-7);
  --outlineColor: var(--indigo-4);
  --textColor-page: var(--gray-1);
  --textColor-cardItem-rest: var(--gray-0);
  --textColor-card: var(--gray-1);
  --textColor-freeSpace: var(--gray-0);
  --bgColor-freeSpace-icon: var(--purple-9);
  --control-bgColor-rest: var(--gray-9);
  --control-bgColor-hover: var(--gray-8);
  --control-bgColor-pressed: var(--gray-3);
  --control-borderColor-rest: var(--gray-1);
  --control-textColor-rest: var(--gray-0);
  --bgColor-chip-3: hsl(var(--lime-9-hsl) / 70%);
  --bgColor-chip-4: hsl(var(--teal-8-hsl) / 70%);
  --bgColor-chip-5: hsl(var(--orange-7-hsl) / 70%);
}
