---
import Layout from "../layouts/Layout.astro";
import BingoCard from "../components/BingoCard.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
import "../styles/global.css";
---

<Layout title="Welcome to Astro.">
  <main>
    <ThemeIcon />
    <h1>Big Brother Bingo</h1>
    <BingoCard />
  </main>
</Layout>
