---
import Layout from "../layouts/Layout.astro";
import BingoCard from "../components/BingoCard.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
import ChipColorSelect from "../components/ChipColorSelect.astro";
import "../styles/global.css";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="ControlWrap">
      <button class="Button Button--trailingVisual">
        <span>New board</span>
        <span class="fa-solid fa-rotate-right fa-rotate-270"></span>
      </button>
      <ChipColorSelect />
      <ThemeIcon />
    </div>
    <BingoCard />
  </main>
  <footer></footer>
</Layout>
