---
import Layout from "../layouts/Layout.astro";
import BingoCard from "../components/BingoCard.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
import "../styles/global.css";
---

<Layout title="Big Brother Bingo">
  <main>
    <div class="ControlWrap">
      <button
        class="Button Button--trailingVisual"
        onclick="location.reload();"
      >
        <span>New board</span>
        <span class="fa-solid fa-rotate-right fa-rotate-270"></span>
      </button>
      <ThemeIcon />
    </div>
    <h1>Big Brother Bingo</h1>
    <BingoCard />
  </main>
</Layout>
